.right-section {
    padding: 20px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 255, 255, 0.39);
    max-height: 80vh;
}
input{
    background: rgba(255, 255, 255, 0);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 0px solid rgba(255, 255, 255, 0.39); 
    color :white;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
input::placeholder{
    color:rgba(255, 255, 255, 0.482);
}
.password-box{
    display:flex;
    flex-direction: column;
    margin-top: 10px;
}
.login-form {
    display: flex;
    flex-direction: column;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.833);
    background: rgb(2,0,36);
    background: linear-gradient(29deg, rgba(2,0,36,1) 22%, rgba(40,28,147,1) 100%);
}

img {
    width: 100px;
    height: auto;
}
.password-container{
    display:flex;
}
button{
    background-color: rgb(35, 35, 173);
    border:0px solid rgba(255, 255, 255, 0.299);
    
}
.button1{
    height: 40px;
    margin-top: 40px;
    border-radius: 16px;
    color:white;
    margin-bottom: 10px;
}